<div class="mb-4">
    <h1 class="page-title-header"><%= page.title %></h1>
    <ul class="flex flex-col mb-4 gap-6">
        <%
        const newessays = theme.essays.sort((a, b) => {
            return moment(b.date).diff(a.date);
          });
        %>
        <% for (const e of newessays) { %>
            <li class="w-full flex flex-row relative">
                <div class="w-10 h-10 mr-4 rounded-lg overflow-hidden border border-border-color p-[1px] flex-shrink-0"><%- image_tag(theme.defaults.avatar, {class: "w-full h-full rounded-[6.2px]"}) %></div>
                <div class="w-full border-border-color rounded-xl redefine-box-shadow-flat overflow-hidden relative">
                    <div id="shuoshuo-content" class="px-4 py-2"><%- markdown(e.content) %></div>
                    <hr class="px-4 my-2 border-b border-border-color border-solid">
                    <div class="px-4 py-1.5 text-sm border-border-color text-third-text-color flex items-center">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp; 
                        <%- e.date %>
                    </div>                    
                </div>
            </li>
        <% } %>
    </ul>
</div>
<div class="border border-sky-500"></div>
